@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Mooli&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --titulos: 'Averia Serif Libre', cursive;
    --textos: 'Mooli', sans-serif;
    --cor1: #cca96d;
    --cor2: #BF3638;
    --cor3: #7A4010;
    --cor4: #7B0909;
    --cor5: #af5a15;
}

body {
    background-color: #FFF7E0;
}

.logo{
    display: block;
    margin: auto;
    width: 15vw;
    margin-top: 17px;
    margin-bottom: 50px;
}

h1 {
    font-family: var(--titulos);
    color: var(--cor2);
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 40px;
}

.linha {
    width: 75vw;
    margin: auto;
    border-color: var(--cor1);
    border-radius: 1px;
    opacity: 0.4;
}

main {
    margin-top: 90px;
}

.titulo-comida {
    font-family: var(--textos);
    color: var(--cor2);
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}


.couvert-familia {
    display: flex;
    flex-direction: column;
}

.couvert-fml {
    display: block;
    margin: auto;
}


section > img {
    width: 75vw;
    border-radius: 15px;
}

.text-img {
    font-family: var(--textos);
    width: 90vw;
    color: var(--cor3);
    font-weight: 800;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

span {
    color: var(--cor5);
    font-weight: 400;
}

.price {
    color: #7B0909;
    margin: auto;
    font-family: var(--textos);
    font-weight: 900;
    text-align: center;
    margin-top: 20px;
}

input[type=button] {
    background-color: var(--cor1);
    color: white;
    text-align: center;
    font-weight: 900;
    width: 200px;
    height: 48px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 0px;
    border: none;
    border-radius: 20px;
    letter-spacing: 1px;
}

input[type=button]:hover {
    opacity: 0.9;
    cursor: pointer;
}

.comida-bacalhau {
    display: flex;
    flex-direction: column;
}

.bacalhau {
    display: block;
    margin: auto;
}

.caesar-salada {
    display: flex;
    flex-direction: column;
}

.salada-caesar {
    margin: auto;
}

.couvert {
    display: flex;
    flex-direction: column;
}

.solo-couvert {
    margin: auto;
}

.carpaccio-prato {
    display: flex;
    flex-direction: column;
}

.carpaccio {
    margin: auto;
}