@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* font-family: 'Roboto', sans-serif; */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #8D53FE;
    }

img {
    width: 300px;
    height: 300px;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.section-main {
    width: 375px;
    height: 740px;
    border-radius: 20px;
    background: #F4F4F4;
    margin: auto;
    padding: 20px;
}

.paragraph {
    color: #777;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 4px;
}

.currency-main {
    width: 70%;
    height: 40px;
}

select {
    width: 100%;
    height: 48px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    padding: 10px;
    border: 1px solid #bbb;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.15);
}


input {
    width: 100%;
    height: 48px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #bbb;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 23px;
}

#result::-webkit-input-placeholder {
    color: #555;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding: 10px;
    font-weight: 500;
}

input[type=button] {
    background-color: #772fD3;
    cursor: pointer;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

input[type=button]:hover {
    background-color: #834fc7;
}

input[type=button]:active {
    background-color: #944bf3;
}

.div-result {
    width: 100%;
    height: 339px;
    border-radius: 20px;
    border: 1px solid #772FD3;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.bandeira-brasil {
    width: 44px;
    height: 44px;
    margin-bottom: -2px
}

.currency-text {
    color: #777;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-align: center;
    margin-bottom: 3px;
}

#currency-value {
    color: #555;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.currency-result-value {
    color: #555;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.arrow {
    width: 35px;
    height: 49.939px;
}

.bandeira-EUA {
    width: 44px;
    height: 44px;
    margin-bottom: -2px
}