@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merriweather:wght@300&display=swap');

:root {
    --cor0: #C40000;
    --cor1: #B80000;
    --cor2: #9E0000;
    --cor3: #780000;
    --cor4: #380000;

    --font-texto: 'Merriweather', serif;
}

* {
    margin: 0px;
}


header {
    background-image: linear-gradient(to left, var(--cor3), var(--cor1));
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.192);
}

header h1 {
    font-family: var(--font-texto);
    color: white;
    font-weight: bold;
    text-indent: 9%;
    padding: 15px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.555);
}

header nav {
    background-color: white;
    padding: 15px;
    text-indent: 8.3%;
}

header > nav > a {
    font-family: var(--font-texto); 
    color: var(--cor4);
    font-size: 14px;  
    padding: 10px;
    font-weight: normal;
    text-decoration: none;
}

header > nav > a:hover {
    text-decoration: underline;
    color: var(--cor2);
}

main {
    background-color: rgba(255, 255, 255, 0.644);
}

article {
    max-width: 1100px;
    margin: auto;
}

section {
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

img {
    position: static;
    display: inline-block;
}



