@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&family=Sriracha&display=swap');

.cabecalho {
    background-color: black;
    padding-top: 5%;
    padding-bottom: 3%;
}


.titulo {
    color: white;
    font-family: 'Passion One';
    font-weight: normal;
    text-align: center;
    font-size: 19vh;
}

.direito-autoral {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-align: center;
}

.direito-autoral a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

header > p > a:hover {
    text-decoration: underline;
}

body {
    height: 100vh;
}

main {
    font-family: 'Sriracha', cursive;
    font-size: 7vh;
    line-height: 150px;

}

section > p {
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 9%;
}

section.imagem-de-fundo > p {
    display: inline-block;
    padding: 1.5%;
    background-color: rgba(0, 0, 0, 0.281);
    text-shadow: 2px 2px black;
    background-size: 100%;
}

section.imagem-de-fundo2 > p {
    display: inline-block;
    padding: 1.5%;
    background-color: rgba(0, 0, 0, 0.281);
    text-shadow: 2px 2px black;
    background-size: 100%;
}

.padrao {
    padding-left: 2%;
}

.imagem-de-fundo {
    padding-left: 3.5%;
    color: white;
    background-image: url(../img/background001.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.imagem-de-fundo2 {
    padding-left: 3.5%;
    color: white;
    background-image: url(../img/background002.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

footer {
    background-color: black;
    padding: 0.5%;
}

.rodape {
    color: white;
    text-align: center;
}

.rodape a {
    color: rgb(15, 228, 33);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}